<div id="fav_data">
  <div class="main-container">
    <div class="cards-container" id="cardsContainer">
      <!-- Start Card 1 -->
      {% for fav_animal in favorite_animals %}
        <div class="card">
          <div class="card-header">
            <span>{{ fav_animal.name }}</span>
            <form method="post">
              {% csrf_token %}
              <button class="delete-fav-button" data-url="{% url 'delete_favorite_animal' fav_animal.id %}" data-animal-id="{{ fav_animal.id }}"><i class="fas fa-trash" style="color: red;"></i></button>
            </form>
          </div>
          <div class="card-body">
            <div class="card-images">
              <div class="slideshow-container">
                <!-- Modify your HTML structure as follows -->
                <div class="mySlides">
                  <img class="card-image" src="{{ fav_animal.image_1.url }}" alt="Image 1" />
                </div>

                <div class="mySlides">
                  <img class="card-image" src="{{ fav_animal.image_2.url }}" alt="Image 2" />
                </div>

                <div class="mySlides">
                  <img class="card-image" src="{{ fav_animal.image_3.url }}" alt="Image 3" />
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      <!-- end Card 1 -->
    </div>
  </div>
</div>
